<html>
<head>
	<title>

	</title>
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="styles/home.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="container" id="survey">
        <div>
            <p>What would you like to discuss today?</p>
        </div>
        <div>
             <input type="checkbox" id="life"><span>Life</span></input>
             <input type="checkbox" id="nutrition">Nutrition</input>
        </div>
        <a href="https://chirp-up-yuxiangdai.c9users.io/topics">Submit</a>
    </div>
	 <div class="container" id="buttons">
		 <p>- </p>
		 <button id="sign-in">Sign-in</button>
		 <button id="chatroom">Chatroom</button>
		 <button id="sign-out">Sign-out</button>
	 </div>
	 <script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
	 <script>
		  // Initialize Firebase
		  var config = {
			  apiKey: "AIzaSyDuf3gqHFDVEwkXveDlVT7jrW58MzdnR7Q",
			  authDomain: "chirp-up.firebaseapp.com",
			  databaseURL: "https://chirp-up.firebaseio.com",
			  storageBucket: "chirp-up.appspot.com",
			  messagingSenderId: "66307837599"
		  };

		  firebase.initializeApp(config);
	 </script>
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	 <script src="scripts/home.js"></script>
</body>
</html>
