<html>
<head>
	<title>

	</title>
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="styles/home.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="container" id="survey">
		<form action="/" method="post">
		  <input type="text" name="uid" id="uid" style="visibility:hidden" value="hello">
        <div id ="q1">
            <p>Would you eat a genetically modified tomato?</p>
        </div>
        <div>
             <input type="radio" name="q1" value="Yes">Yes</input>
             <input type="radio" name="q1" value="No">No</input>
        </div>
		  <div id ="q2">
            <p>Do you think the world is better off than it was ten years ago?</p>
        </div>
        <div>
			  <input type="radio" name="q2" value="Yes">Yes</input>
			  <input type="radio" name="q2" value="No">No</input>
        </div>
		  <br>
		  <input type="submit" value="Submit">
	   </form>
    </div>
	 <div class="container" id="foes">
		 <h1>People who have different opinions</h1>
		 <p id="agreeable">You agree with everyone</p>
	 </div>
	 <div class="container" id="buttons">
		 <p id="welcome">- </p>
		 <button id="sign-in">Sign-in</button>
		 <button id="sign-out">Sign-out</button>
		 <button id="retake">Retake Survey</button>
	 </div>
	 <script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
	 <script>
		  // Initialize Firebase
		  var config = {
			  apiKey: "AIzaSyDuf3gqHFDVEwkXveDlVT7jrW58MzdnR7Q",
			  authDomain: "chirp-up.firebaseapp.com",
			  databaseURL: "https://chirp-up.firebaseio.com",
			  storageBucket: "chirp-up.appspot.com",
			  messagingSenderId: "66307837599"
		  };

		  firebase.initializeApp(config);
	 </script>
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	 <script src="scripts/home.js"></script>
</body>
</html>
