body {
   text-align: center;
   font-family: 'Raleway';
   font-size: 150%;
   background-image:  url(https://source.unsplash.com/NDuPLKYRXQU/1600x900);
}

p{
   margin-top: 40px;
   opacity: 0.75;
}

button{
   cursor:pointer;
   outline: none;
   font-family: 'Raleway';
     background: #428BCA;
     color: #fff;
     font-size: 20px;
     height: 30%;
     width: 70%;
     line-height: 50px;
     margin: auto;
     text-align: center;
     border: 0;
     -webkit-transition: ease 0.5s;
     -moz-transition: ease 0.5s;
     -ms-transition: ease 0.5s;
     -o-transition: ease 0.5s;
     transition: ease 0.5s;
     background-size:cover; /* <-- scale the image to cover the button */
     background-position:center center; /* <-- center the image in the button */
     opacity: 0.5;
     display: flex;
     justify-content: center;

}

.container {
     padding: 15px;
     background: white;
     margin: 3%;
}


button:hover {
   opacity: 0.75;
}

button#life {
   background-image: url(https://source.unsplash.com/8D_Wbpf33bA/1056x598)
}
button:focus {
     transition: ease 1s;
     opacity: 1;
}
button#nutrition {
     background-image: url(https://source.unsplash.com/zdunBSAi3P0/1056x598)
}

a{
     color: #fff;
     font-size: 20px;
     height: 50px;
     width: 100px;
     line-height: 50px;
     margin: 10px auto;
     text-align: center;
     border: 0;
     transition: ease 0.5s;
     opacity: 0.75;
     display: flex;
     justify-content: center;
     background-color: #2196F3;
}

a:hover {
   opacity: 1;
}
